@page "/"
@inherits IndexComponent

<div class="row">
    <div class="col-8">
        <div class="alert alert-primary" role="alert">
            @if (IsConnected)
            {
                <span class="oi oi-circle-check" title="circle check" aria-hidden="true"></span>
            }
            else
            {
                <span class="oi oi-circle-x" title="circle x" aria-hidden="true"></span>
            }
            <span>@(StatusMessage)</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h2 class="text-light">Filtered Tweets</h2>
        <ul id="tweets" class="reversed no-bullets">
            @foreach (var tweet in Tweets)
            {
                <li>@(new MarkupString(tweet.HTML))</li>
            }
        </ul>
    </div>
</div>