@page "/about"

<h1 class="text-default">About.</h1>
<h3 class="text-default">The site is updated from the <a href="https://github.com/IEvangelist/Blazing.DotNet.Tweets">Blazing.DotNet.Tweets</a>.</h3>

<p>
    Changed from original Blazor WebAssembly Application to Blazor Server app.
</p>

@{
}
